/**
 *Styles for DivLov
 *@rdarling
 *
 */

$green: #00e676;
$black: #212121;
$blue: #01579b;

$round-corner:10px;
$site-width: 1024px;

@mixin full-height {height:100%;}
@mixin brick {clear:both;}
@mixin left {float:left;}
@mixin right {float:right;}
@mixin disappear {display:none;}
@mixin float_content {max-width: 45%;}
@mixin pad {padding: 8px;}
@mixin relative {position: relative;}
@mixin absolute {position: absolute;}
@mixin full-width {width: 100%;}
@mixin center-text {text-align: center;}

@mixin shape-it{
    padding: 20px;
	border-radius: 4px;
	margin-bottom: 15px;
}

@mixin inline {
    display: inline;
    list-style: none;
}


@mixin sticky {
    position: fixed;
    width: 100%;
    opacity: 0.9;
    padding: 10px;
    z-index: 100;
}

@mixin color-transition {
    -webkit-transition-property: color;
	-moz-transition-property: color;
	-o-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	transition-duration: 1s;
}

@mixin link-click {
    @include relative;
    left: -1px;
    top:1px;
}

@mixin round-corner($px){
    border-radius: $px;
}

.dissapear {
    @include disappear;
}

ul.inline li {
    @include inline;
}

.show_inline {
    @include inline;
}

.width100 {
    @include full-width;
}

#logo {
	color: $green;
}

#maincontent ul li {list-style:none;}



