/**
 *Styles for DivLov
 *@rdarling
 *
 */
.dissapear {
  display: none; }

ul.inline li {
  display: inline;
  list-style: none; }

.show_inline {
  display: inline;
  list-style: none; }

.width100 {
  width: 100%; }

#logo {
  color: #00e676; }

#maincontent ul li {
  list-style: none; }
